{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "bot": true,
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "rules": {
    "no-console": [
      "error",
      {
        allow: ["warn", "info", "error"]
      }
    ]
  }
}
